 /* data-styled="ibaWqa gRKWKr cESXdb icHUXB hLhMKm dyBZGS clqnxP bVcSln gHkLpE eoycBz jCZjRN dUPDiI jFUmUC ljcHbH fYHnDW eFHqeA ieZCXm hHhVUW chAslr kFhpPX iVeErb kDpQpW SDwBx dnvwYv labaUD iqSnmn gVPfIW klBFZB fkoVRg hmlbml dWgJQJ dyArXj jLvcry eDRIuH eHmwsi lnpEse isfobV fLxTor" data-styled-version="4.4.1"> */
/* sc-component-id: hero-base__HeroDiv-sc-13sn5a1-0 */
.dUPDiI {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center bottom;
    height: 600px;
    margin-top: 80px;
}

@media only screen and (max-width: 1140px) {
    .dUPDiI {
        margin-top:80px;
        height: 570px;
    }
}

@media only screen and (max-width: 767px) {
    .dUPDiI {
        margin-top:80px;
        height: 780px;
    }
}

.dUPDiI.short {
    height: 240px;
    margin-top: 80px;
}

@media only screen and (max-width: 767px) {
    .dUPDiI.short {
        height:190px;
    }
}

.dUPDiI.short .hero-flex {
    margin: 81px auto 0px;
}

@media only screen and (max-width: 767px) {
    .dUPDiI.small-mobile {
        height:200px;
    }
}

/* sc-component-id: hero-base__Flex-sc-13sn5a1-1 */
.jFUmUC {
    max-width: 1110px;
    margin: 118px auto 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

@media only screen and (max-width: 1140px) {
    .jFUmUC {
        margin:46px 30px;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .jFUmUC h1 {
        font-size: 40px;
        line-height: 44px;
    }
}

@media only screen and (max-width: 767px) {
    .jFUmUC {
        -webkit-flex-direction:column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

/* sc-component-id: hero-base__HeroTextDiv-sc-13sn5a1-2 */
.ljcHbH {
    width: 52%;
}

@media only screen and (max-width: 767px) {
    .ljcHbH {
        width:100%;
    }
}

.ljcHbH p.hero {
    max-width: 85%;
}

@media only screen and (max-width: 1140px) {
    .ljcHbH p.hero {
        max-width:100%;
        line-height: 26px;
    }
}

/* sc-component-id: hero-base__HeroImageDiv-sc-13sn5a1-3 */
.fYHnDW {
    width: 48%;
}

@media only screen and (max-width: 767px) {
    .fYHnDW {
        width:100%;
        max-width: 324px;
    }
}

/* sc-component-id: hero-base__HeroContentDiv-sc-13sn5a1-4 */
.eFHqeA {
    position: relative;
    overflow: hidden;
    width: 590px;
    height: auto;
    float: right;
    margin-top: -70px;
    margin-right: 10px;
}

@media only screen and (max-width: 1140px) {
    .eFHqeA {
        width:100%;
        height: auto;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .eFHqeA {
        max-width:324px;
        float: none;
    }
}

/* sc-component-id: header-new__HeaderDiv-w3nqrh-0 */
.ibaWqa {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

/* sc-component-id: header-new__WrapperDiv-w3nqrh-1 */
.gRKWKr {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
}

@media only screen and (max-width: 1140px) {
    .gRKWKr {
        padding:0 20px;
    }
}

/* sc-component-id: header-new__StyledMenuLink-w3nqrh-3 */
.clqnxP {
    color: var(--blue);
    font-size: 15px;
    font-weight: 600;
}

/* sc-component-id: header-new__CustomerLoginButton-w3nqrh-4 */
.jCZjRN {
    border: 1px solid var(--blue);
    border-radius: 2px;
    color: var(--blue);
    font-size: 16px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    padding: 0px 6px;
}

.jCZjRN:focus,.jCZjRN:hover {
    outline: none;
    background: rgba(35,192,245,0.1);
}

.jCZjRN:active {
    background: rgba(35,192,245,0.2);
}

@media only screen and (max-width: 1140px) {
    .jCZjRN {
        width:160px;
        height: 50px;
        padding-right: 10px;
        padding-left: 28px;
    }
}

/* sc-component-id: header-new__MenuDiv-w3nqrh-5 */
@media only screen and (max-width: 1140px) {
    .dyBZGS {
        position:absolute;
        left: 0;
        background: var(--white);
        width: 100%;
        height: 100vh;
        top: 70px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.dyBZGS > ul {
    width: 100%;
    margin: 0;
    text-align: center;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    font-weight: 500;
    list-style-type: none;
}

@media only screen and (max-width: 1140px) {
    .dyBZGS > ul {
        list-style-type:none;
        text-align: left;
        opacity: 0;
        display: none;
        font-weight: 600;
        padding: 30px;
        padding-bottom: 150px;
    }
}

.dyBZGS li {
    padding-right: 25px;
    margin-bottom: 0;
}

@media only screen and (min-width: 1140px) {
    .dyBZGS li {
        display:inline-block;
        list-style: none;
    }
}

.dyBZGS li:last-of-type {
    padding-right: 0;
}

.dyBZGS li:hover ul {
    display: block;
}

.dyBZGS a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
}

.dyBZGS svg {
    margin-left: 5px;
}

@media only screen and (max-width: 1140px) {
    .dyBZGS {
        display:none;
    }

    .dyBZGS ul {
        width: 100%;
    }

    .dyBZGS li {
        margin-bottom: 15px;
        width: 100%;
        float: none;
        text-align: left;
    }

    .dyBZGS li svg {
        display: none;
    }
}

/* sc-component-id: header-new__LogoDiv-w3nqrh-6 */
.cESXdb {
    display: inline-block;
    vertical-align: middle;
    -webkit-flex: 0 0 182px;
    -ms-flex: 0 0 182px;
    flex: 0 0 182px;
    margin-top: 3px;
}

/* sc-component-id: header-new__SubMenuUl-w3nqrh-7 */
.bVcSln {
    display: none;
    width: 127px;
}

@media only screen and (min-width: 1140px) {
    .bVcSln {
        background:var(--white);
        text-align: right;
        -webkit-transition: all .25s ease-out;
        transition: all .25s ease-out;
        position: absolute;
        border: 1px solid #D4D9E0;
        box-shadow: rgba(61,123,178,0.4) 0px 6px 10px 0px;
        -webkit-transition: box-shadow .8s ease-in-out;
        transition: box-shadow .8s ease-in-out;
        top: 40px;
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin-left: 0;
        padding: 15px 18px 10px;
    }

    .bVcSln li {
        padding-bottom: 5px;
    }

    .bVcSln li a {
        -webkit-letter-spacing: .1px;
        -moz-letter-spacing: .1px;
        -ms-letter-spacing: .1px;
        letter-spacing: .1px;
        line-height: 20px;
    }
}

.bVcSln.company {
    right: 155px;
}

.bVcSln.products {
    width: 100%;
}

@media only screen and (min-width: 1140px) {
    .bVcSln.products {
        margin-left:-164px;
        width: 230px;
    }
}

.bVcSln.services {
    width: 100%;
}

@media only screen and (min-width: 1140px) {
    .bVcSln.services {
        margin-left:-93px;
        width: 150px;
    }
}

@media only screen and (min-width: 1140px) {
    .bVcSln:before {
        height:0;
        content: '';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #D4D9E0;
        position: absolute;
        top: -10px;
        right: 8px;
    }

    .bVcSln:after {
        height: 0;
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        position: absolute;
        top: -8px;
        right: 10px;
    }
}

@media only screen and (max-width: 1140px) {
    .bVcSln {
        display:block;
    }

    .bVcSln a {
        text-align: left !important;
        font-weight: 400 !important;
    }
}

/* sc-component-id: header-new__SubMenuLi-w3nqrh-8 */
.gHkLpE {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-letter-spacing: -1px;
    -moz-letter-spacing: -1px;
    -ms-letter-spacing: -1px;
    letter-spacing: -1px;
    margin-left: 0;
    display: block;
    float: left;
    width: 100%;
}

.gHkLpE a {
    font-size: 16px;
    color: var(--blue);
    width: 100%;
    text-align: right;
    display: block;
    line-height: 24px;
    font-weight: 500;
}

/* sc-component-id: header-new__SubStyledLink-w3nqrh-9 */
.eoycBz {
    -webkit-text-decoration: none;
    text-decoration: none;
}

/* sc-component-id: header-new__MenuIconDiv-w3nqrh-10 */
.hLhMKm {
    display: none;
}

@media only screen and (max-width: 1140px) {
    .hLhMKm {
        display:inline-block;
    }
}

/* sc-component-id: footer-cannabis__SiteFooter-sc-1rtoqi6-0 */
.eDRIuH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background: #E5F5FB;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    display: block;
}

/* sc-component-id: footer-cannabis__FooterDiv-sc-1rtoqi6-1 */
.isfobV {
    width: 100%;
    max-width: 1140px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: top;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 0;
    margin: auto;
}

.isfobV #linkedin,.isfobV #twitter {
    width: 40px;
    height: 40px;
}

.isfobV ul {
    width: 100%;
    margin: 0;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    font-weight: 500;
    list-style-type: none;
}

.isfobV li {
    list-style: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.isfobV li a {
    font-size: 18px;
}

.isfobV li.kid {
    text-transform: initial;
}

.isfobV li.kid a {
    font-weight: 400;
}

.isfobV li:last-of-type {
    padding-right: 0;
}

.isfobV .column:first-of-type {
    margin-left: 15px;
    margin-right: 80px;
}

.isfobV .column:first-of-type p {
    font-size: 18px;
}

.isfobV .column:first-of-type a {
    margin-right: 20px;
}

.isfobV .column:first-of-type small {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding-top: 50px;
}

.isfobV .column.medium-only {
    display: none;
}

@media only screen and (max-width: 1140px) {
    .isfobV {
        padding:40px 0;
    }

    .isfobV .column {
        display: none;
        max-width: 80%;
    }

    .isfobV .column:first-of-type {
        display: block;
        margin: 0;
        padding-left: 30px;
    }

    .isfobV .column:first-of-type > div {
        display: none;
    }

    .isfobV .column:first-of-type p {
        margin-bottom: 0;
    }

    .isfobV .column.medium-only {
        display: block;
        padding-right: 30px;
        text-align: right;
    }

    .isfobV .column.medium-only a {
        margin-right: 30px;
    }

    @media only screen and (max-width: 640px) {
        .isfobV {
            padding:60px 0;
        }

        .isfobV .column {
            display: none;
            max-width: 100%;
        }

        .isfobV .column:first-of-type {
            padding-left: 0;
        }

        .isfobV .column:first-of-type > * {
            width: 100%;
        }

        .isfobV .column:first-of-type p a {
            margin-right: 0;
        }

        .isfobV .column:first-of-type p,.isfobV .column:first-of-type div {
            text-align: center;
        }

        .isfobV .column:first-of-type div {
            margin-top: 30px;
            display: block;
        }

        .isfobV .column:first-of-type svg {
            margin-bottom: 30px;
        }

        .isfobV .column:first-of-type a {
            padding: 10px 0;
        }

        .isfobV .column:first-of-type a > svg {
            width: 60px;
            height: 60px;
            margin-bottom: 0;
            margin-top: 10px;
        }

        .isfobV .column:first-of-type a #linkedin {
            margin-right: 20px;
        }

        .isfobV .column:first-of-type a #twitter {
            margin-left: 20px;
        }

        .isfobV .column.medium-only {
            display: none;
        }
    }
}

/* sc-component-id: footer-cannabis__SubFooterContent-sc-1rtoqi6-2 */
.eHmwsi {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 0 80px;
}

.eHmwsi svg {
    padding-right: 25px;
}

.eHmwsi div {
    max-width: 707px;
}

.eHmwsi p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

@media only screen and (max-width: 1140px) {
    .eHmwsi {
        max-width:600px;
        margin: auto;
        padding-bottom: 92px;
    }

    .eHmwsi svg {
        width: 100%;
        padding-bottom: 10px;
        padding-right: 0;
    }

    .eHmwsi div,.eHmwsi p,.eHmwsi h2 {
        text-align: center;
        max-width: 375px;
    }

    .eHmwsi p {
        max-width: 80%;
        margin: auto;
    }

    .eHmwsi h2 {
        margin-bottom: 40px;
    }
}

/* sc-component-id: footer-cannabis__ContactUsButton-sc-1rtoqi6-3 */
.lnpEse {
    background: var(--buttons);
    border: 1px solid var(--buttons);
    border-radius: 2px;
    width: 260px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    float: right;
    margin-top: -15px;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
}

.lnpEse:focus,.lnpEse:hover {
    outline: none;
    background: #23C0F5;
    border-color: #23C0F5;
}

.lnpEse:active {
    background: #16A0CF;
    border-color: #16A0CF;
}

@media only screen and (max-width: 1140px) {
    .lnpEse {
        margin-top:60px;
        margin-left: 0;
    }
}

/* sc-component-id: about-details__WrapperDiv-sc-1y4fnaa-0 */
.chAslr {
    max-width: 1110px;
    margin: 60px auto 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 20px;
}

@media only screen and (max-width: 1024px) {
    .chAslr {
        margin-top:40px;
        margin-bottom: 100px;
    }
}

/* sc-component-id: about-details__Flex-sc-1y4fnaa-1 */
.kFhpPX {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.kFhpPX h2 {
    width: 100%;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1024px) {
    .kFhpPX {
        margin-bottom:40px;
    }
}

/* sc-component-id: about-details__DetailFlex-sc-1y4fnaa-2 */
.ieZCXm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #E5F5FB;
    margin-bottom: 100px;
}

@media only screen and (max-width: 1140px) {
    .ieZCXm {
        padding:0 20px;
        margin-bottom: 60px;
    }
}

/* sc-component-id: about-details__DetailText-sc-1y4fnaa-3 */
.hHhVUW {
    padding: 57px 0 60px;
    max-width: 1110px;
}

@media only screen and (max-width: 1140px) {
    .hHhVUW {
        padding:40px 0 100px;
    }
}

/* sc-component-id: about-details__MethodologyDiv-sc-1y4fnaa-4 */
.iVeErb {
    max-width: 1110px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.iVeErb > div {
    width: calc(100%/3);
    padding: 40px;
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    .iVeErb > div {
        width:100%;
    }
}

.iVeErb > div > div {
    width: 50%;
    float: left;
    padding-left: 15px;
}

.iVeErb > div > div:first-of-type {
    padding-left: 0;
    padding-right: 15px;
}

.iVeErb > div h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.iVeErb > div.preparation {
    background-color: #EBF1F7;
}

.iVeErb > div.prototyping {
    background-color: #EAF8F5;
}

.iVeErb > div.production {
    background-color: #E5F5FB;
}

.iVeErb > div.production #supportSVG {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/* sc-component-id: about-details__SVGContainer-sc-1y4fnaa-5 */
.kDpQpW {
    width: 104px;
    height: 104px;
    margin: 35px auto 15px;
}

/* sc-component-id: partners__WrapperDiv-s3qdrv-0 */
.fkoVRg {
    max-width: 1140px;
    margin: 50px auto 135px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 20px;
}

@media only screen and (max-width: 1140px) {
    .fkoVRg {
        margin-top:45px;
        margin-bottom: 173px;
    }
}

.fkoVRg h2,.fkoVRg > p {
    display: block;
    width: 100%;
}

.fkoVRg .RMCCDesc {
    margin-top: 70px;
}

@media only screen and (max-width: 720px) {
    .fkoVRg .RMCCDesc {
        margin-top:90px;
    }
}

.fkoVRg.left {
    margin: 0px auto 100px;
}

/* sc-component-id: partners__PartnersContainerDiv-s3qdrv-1 */
.dWgJQJ {
    width: calc(100%/3);
    max-width: 310px;
    margin-left: 85px;
    margin-top: 45px;
    margin-bottom: 0;
}

.dWgJQJ#RMC {
    margin-top: 0!important;
}

.dWgJQJ:first-of-type,.dWgJQJ:nth-of-type(4),.dWgJQJ:nth-of-type(7) {
    margin-left: 0;
}

.dWgJQJ:first-of-type,.dWgJQJ:nth-of-type(2),.dWgJQJ:nth-of-type(3) {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1140px) {
    .dWgJQJ {
        width:50%;
        margin-bottom: 0px!important;
        max-width: none;
        margin-left: 0;
    }

    .dWgJQJ > div {
        padding: 0;
    }
}

@media only screen and (max-width: 720px) {
    .dWgJQJ {
        width:100%;
        margin-bottom: 50px;
    }
}

/* sc-component-id: partners__Flex-s3qdrv-2 */
.hmlbml {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* sc-component-id: partners__PartnersContentDiv-s3qdrv-3 */
.dyArXj {
    height: 100%;
}

/* sc-component-id: partners__PartnersContentIconDiv-s3qdrv-4 */
.jLvcry {
    margin-bottom: 20px;
    height: 50px;
}

.jLvcry .gatsby-image-wrapper {
    width: 100%!important;
}

.jLvcry img {
    width: auto !important;
    height: 42px !important;
}

.jLvcry.ZenKraftImg img {
    height: 60px!important;
    margin-top: -10px;
}

.jLvcry.RMCCImg img {
    height: 109px!important;
}

@media only screen and (max-width: 720px) {
    .jLvcry {
        height:30px;
        margin-bottom: 30px;
    }
}

/* sc-component-id: map__HeroDiv-sc-1629f0q-0 */
.SDwBx {
    position: relative;
    overflow: hidden;
}

/* sc-component-id: map__Flex-sc-1629f0q-1 */
.dnvwYv {
    max-width: 1110px;
    margin: 100px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
}

@media only screen and (max-width: 1140px) {
    .dnvwYv {
        margin:60px auto;
    }
}

/* sc-component-id: map__HeroTextDiv-sc-1629f0q-2 */
.labaUD {
    width: 60%;
    max-width: 538px;
}

@media only screen and (max-width: 1140px) {
    .labaUD {
        padding-left:40px;
    }
}

@media only screen and (max-width: 1024px) {
    .labaUD {
        width:100%;
        margin: auto;
        padding-left: 0;
    }
}

@media only screen and (max-width: 650px) {
    .labaUD {
        padding:0 40px;
    }
}

/* sc-component-id: map__HeroImageDiv-sc-1629f0q-3 */
.klBFZB svg {
    margin-left: -20px;
    width: auto;
    height: auto;
}

@media only screen and (max-width: 1024px) {
    .klBFZB {
        width:100%;
        text-align: center;
    }

    .klBFZB svg {
        width: 80%;
        max-width: 600px;
        height: auto;
        margin-top: 10px;
        margin-left: 0;
    }
}

/* sc-component-id: map__HeroH2-sc-1629f0q-4 */
.iqSnmn {
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 22px;
}

/* sc-component-id: map__HeroUL-sc-1629f0q-5 */
.gVPfIW {
    -webkit-columns: 2;
    columns: 2;
    list-style-type: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 500;
}

@media only screen and (max-width: 640px) {
    .gVPfIW {
        font-size:14px;
        line-height: 20px;
    }
}

.gVPfIW li {
    margin-bottom: 5px;
}
